<div class="container">
  <div class="row">
    <h1> registrarse</h1>
    <i class="material-icons" style="font-size: 200px;"> person </i>
    <!-- nombre de usuario -->
    <mat-form-field appearance="fill">
      <mat-label>introducir nombre de usuario</mat-label>
      <input [(ngModel)]="usuarios.nombre" matInput placeholder="polenta" required>
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>


    <!-- appellido del usuario.-->
    <mat-form-field appearance="fill">
      <mat-label>introducir su appellido</mat-label>
      <input [(ngModel)]="usuarios.apellido" matInput placeholder="ej:locas" required>
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>

    <!--Email del usuario-->
    <mat-form-field appearance="fill">
      <mat-label>ingrese su Email</mat-label>
      <input [(ngModel)]="usuarios.email" matInput placeholder="ej:xxxx@xxx.com" required>
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>

    <!-- rol de usuario -->
    <mat-form-field>
      <mat-label>seleccione rol de usuario</mat-label>
      <select [(ngModel)]="usuarios.rol" matNativeControl required>
        <option value="admin">administrador</option>
        <option value="vist">visitante</option>
      </select>
    </mat-form-field>

    <!-- contraseña de usuario -->
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input [(ngModel)]="usuarios.password" matInput [type]="hide ? 'password' : 'text'" #input minlength="6" required>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-hint align="start">minimo:6/{{input.value.length}}</mat-hint>
    </mat-form-field>

    <!-- boton para enviar la informacion a la base de datos -->
    <button class="button" mat-raised-button color="primary" (click)="registrar()">registrar</button>
  </div>
</div>