<div class="container">
    <div class="row">
        <h1>Inicia Sesion</h1>

        <i class="material-icons" style="font-size: 200px;">person</i>

        <!--email del usuario-->
        <mat-form-field appearance="fill">
            <mat-label>Correo electronico</mat-label>
            <input [(ngModel)]="inicio_sesion.email" matInput placeholder="Ej: pepitojuarez@gmail.com" required>
        </mat-form-field>




        <!--contraseña de usuario-->

        <mat-form-field>
            <mat-label>Ingrese su contraseña</mat-label>
            <input [(ngModel)]="inicio_sesion.password" matInput [type]="hide ? 'password' : 'text'" #input
                minlength="6" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>

            <mat-hint align="start">minimo:6/{{input.value.length}}</mat-hint>

        </mat-form-field>

        <button class="boton" mat-raised-button color="primary" (click)="IniciarSesion()">enviar </button>


    </div>
</div>